#jumboStyle {  
    background: url('../assets/abstract-background-1061121_960_720.jpg') no-repeat center;
 background-size: cover;
 color: rgba(223,146,146);
 text-align: center;
 font-size: 2px;
}
/*this #jumboStyle put a picture in the jumbotron*/



