#jumboStyle {  
    /* background: url('../assets/nature.gify.gif') no-repeat center;
 background-size: cover; */
 color: white;
 text-align: center;
 font-size: 2px;
}
/*this #jumboStyle put a picture in the jumbotron*/
